<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>fabflix</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Browse The Fabflix Collection</description>
    <display-name>Browse</display-name>
    <servlet-name>Browse</servlet-name>
    <jsp-file>/Browse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/Browse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Login to Fabflix</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Main Page</description>
    <display-name>Main Page</display-name>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/MainPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <jsp-file>/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>run_searchServlet</servlet-name>
    <servlet-class>fabflix.run_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>run_searchServlet</servlet-name>
    <url-pattern>/run_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>fabflix.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movie_list</display-name>
    <servlet-name>movie_list</servlet-name>
    <jsp-file>/movie_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>movie_list</servlet-name>
    <url-pattern>/movie_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <jsp-file>/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMovie</display-name>
    <servlet-name>getMovie</servlet-name>
    <jsp-file>/getMovie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMovie</servlet-name>
    <url-pattern>/getMovie</url-pattern>
  </servlet-mapping>
</web-app>